body{
    padding: 5px;
    margin: 5px;
}


.button{
    background-color: aqua;
    padding: 5px;
    margin: 5px;
    width: 100px;
    color: gray;
}

.button:hover{
    color: green;
    background-color: greenyellow;
}